@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-style: normal;
  border: none;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.content {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  width: 100%;
}

.header {
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  background-color: #000;
  position: relative;
  z-index: 2;
  padding: 28px 0;
  margin: auto;
}

.header:after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 179px;
}

.menu-list {
  display: flex;
  color: #f4f7f6;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.8125rem;
  text-transform: uppercase;
  gap: 35px;
}

.menu-item:hover {
  text-decoration: underline;
}

.title {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 2.8125rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.66;
  text-align: center;
  padding: 100px 0;
  margin: auto;
  max-width: 690px;
}

.trends {
  margin-bottom: 64px;
}

.title-trends {
  justify-self: center;
  margin-bottom: 45px;
  position: relative;
  margin-top: 64px;
}

.title-trends::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  top: 30px;
  left: calc(50% - 33px);
}

.trends-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}

.trend {
  width: calc(25% - (12px / 4));
  min-height: 320px;
  background-size: cover;
  background-color: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  position: relative;
}

.trend:after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.border {
  border: 3px solid #b59f5b;
  padding: 35px;
}

.border > .title-trend-post {
  color: #fff;
}

.trend-one {
  background-image: url(../images/trend1.jpg);
}

.trend-two {
  background-image: url(../images/trend2.jpg);
}

.trend-three {
  background-image: url(../images/trend3.jpg);
}

.trend-for {
  background-image: url(../images/trend4.jpg);
}

.content-main {
  display: flex;
  justify-content: space-between;
  gap: 130px;
}

.main {
  width: 66.6%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.post {
  display: flex;
  align-items: flex-start;
}

.img-post {
  display: block;
}

.container-post {
  margin-left: 30px;
}

.category {
  display: flex;
  gap: 19px;
  color: #b59f5b;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 4px;
  flex-wrap: wrap;
}

.category-item:hover {
  text-decoration: underline;
}

.title-post {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 1.25rem;
  color: #0f0d0e;
  text-transform: uppercase;
  line-height: 1.2;
}

.title-post:hover {
  color: #b59f5b;
}

.date-author {
  display: flex;
  gap: 14px;
  margin-top: 28px;
  margin-bottom: 46px;
  font-size: 0.75rem;
}

.date {
  font-family: OpenSans-Regular, sans-serif;
  color: #888888;
}

.author {
  font-family: OpenSans-Bold, sans-serif;
  color: #000000;
}

.text > p {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.9375rem;
  line-height: 1.47;
  margin: 0;
}

.text > p:not(:first-child) {
  margin-top: 12px;
}

.aside {
  width: 272px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.aside-item {
  position: relative;
}

.aside-item::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  top: 30px;
  left: calc(50% - 33px);
}

.title-aside {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.875rem;
  color: #0f0d0e;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 38px;
}

.title-aside-post {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.875rem;
  color: #0f0d0e;
  text-transform: uppercase;
  line-height: 1.3;
}

.title-aside-post:hover {
  color: #b59f5b;
}

.new-post {
  display: flex;
  justify-content: baseline;
  margin-top: 22px;
}

.new-post:nth-child(1) {
  margin-top: 0;
}

.img-aside {
  display: block;
}

.container-new-post {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search {
  margin-top: 60px;
  display: flex;
  width: 100%;
}

.label {
  width: 100%;
}

.field {
  background-color: #f4f7f6;
  height: 48px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.8125rem;
  padding: 18px;
  outline: none;
  width: 100%;
}

.field:focus {
  outline: 1px solid #b59f5b;
}

.button-search {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.button-search:hover {
  background-color: #323232;
}

.button-mail {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.875rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: 18px;
  cursor: pointer;
}

.button-mail:hover {
  background-color: #323232;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 40px;
}

.tags-item {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.75rem;
  color: #0f0d0e;
  border: 3px solid #eeeeee;
  text-transform: uppercase;
  line-height: 1;
}

.tags-item:hover {
  border: 3px solid #b59f5b;
}

.tags-link {
  display: block;
  padding: 7px 14px;
}

.themes-list {
  margin-top: 40px;
}

.themes-item {
  display: block;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.875rem;
  color: #000;
  margin-top: 24px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 16px;
  border-bottom: 1px solid #e1d9bd;
}

.themes-item:nth-child(1) {
  margin-top: 0;
}

.sup {
  vertical-align: super;
  color: #b59f5b;
}

.themes-item:hover {
  color: #b59f5b;
}

.products-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 66px;
}

.product {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 66px);
}

.img-product {
  padding: 0 21px;
  z-index: -1;
  position: relative;
}

.product-border {
  border: 3px solid #baa66a;
  margin-top: -30px;
  z-index: 2;
  position: relative;
  padding: 21px;
  /* flex-grow: 1; */
}

.title-product {
  margin-top: 24px;
}

.text-product {
  margin-top: 14px;
}

.underline {
  color: #b59f5b;
}

.underline:hover {
  text-decoration: underline;
}

.shop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.price {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 1.25rem;
}

.old-price {
  font-size: 0.875rem;
  text-decoration: line-through;
}

.button-shop {
  width: 50%;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.875rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: 18px;
  cursor: pointer;
}

.footer {
  margin-top: 64px;
}

.footer-wrapper {
	max-width: 1200px;
	margin: auto;
  padding: 0 15px;
  width: 100%;
}

.footer-address {
	padding: 30px 0;
  background-color: #f4f7f6;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-list-link {
  display: block;
  width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-size: 20px 20px;
}

.footer-list-item:not(:last-child) {
	margin-right: 24px;
}

.footer-list-link-one {
  background-image: url("../svg/001-dribbble.svg");
}

.footer-list-link-two {
  background-image: url("../svg/002-pinterest.svg");
}

.footer-list-link-three {
  background-image: url("../svg/003-tumblr.svg");
}

.copyring {
  margin-top: 73px;
  margin-bottom: 40px;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.75rem;
  color: #999999;
  text-align: center;
}

@media (max-width: 1200px) {
  .menu-list {
    display: none;
  }

  .menu-button {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .mb {
    width: 23px;
    height: 4px;
    background-color: #fff;
  }

  .trends-container {
    flex-wrap: wrap;
  }

  .main {
    width: 100%;
  }

  .post {
    flex-direction: column;
    gap: 15px;
    position: relative;
  }

  .container-post {
    margin-left: 0;
  }

  .img-post {
    width: 100%;
  }

  .post::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    bottom: -22px;
    left: 0;
  }

  .products-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .trend {
    width: calc(50% - 4px);
  }

  .content-main {
    gap: 35px;
  }

  .product {
    width: calc(50% - 22px);
  }
}

@media (orientation: landscape) {
  .trend {
    width: calc(25% - (12px / 4));
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url("../images/banner-mobile.jpg");
  }

  .logo {
    width: 269px;
    margin-top: 224px;
  }

  .menu {
    position: absolute;
    right: 15px;
    top: 30px;
  }

  .hhh {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trend {
    width: 100%;
  }

  .content-main {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .aside {
    width: 100%;
  }

  .products-container {
    flex-direction: column;
    align-items: center;
  }

  .product {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 640px){
  .trend {
    width: calc(50% - 4px);
  }
}

@media (min-width: 651px) and (max-width: 966px) {
  .trend {
    width: calc(50% - 4px);
  }
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.popup-content {
  position: relative;
  background: #fff;
  width: 23.5vw;
  height: 60vh;
  padding: 54px 30px;
  box-sizing: border-box;
  z-index: 999;
}

.title-popup {
  margin: 0 0 28px 0;
}

.popup-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.text-popup {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.9375rem;
  line-height: 1.47;
  margin: 0;
}

.button-popup {
  background-image: url("../svg/form-arrows.svg");
  background-color: #f4f7f6;
  background-size: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.form-popup {
  margin: 0;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.radio {
  display: flex;
  gap: 15px;
}

.button-popup2 {
  background-image: none;
  width: 100%;
  color: #fff;
  font-family: OpenSans-Bold, sans-serif;
  text-transform: uppercase;
}